
<html>
		<link rel="stylesheet" type="text/css" href="./bootstrap/bootstrap.css"/>
	<body>
		<div class="container">
			<div class="d-flex align-items-center justify-content-center h-100">
			<div class="card" style="width: 25rem;">
			<div class="card-header">
				<h1 class="text-center">Chat</h1>
		</div>
		<div class="card-body">
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='bejelentkezes2.html';" class="btn login_btn" name="login"> Bejelentkezés </button>
				<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="window.location.href='regisztracio2.html'; " class="btn  login_btn" name="registracio"> Regisztracio </button>
			</div>
		</div>
	</body>
</html>